{% extends "base.html" %}

{% block title %}Website{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Website: {{ url['name'] }}</h1>
        <table class="table table-bordered" data-test="url">
            <tbody>
                <tr>
                    <th scope="row" style="width: 150px;">ID</th>
                    <td>{{ url['id'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ url['name'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Creation date</th>
                    <td>{{ url['created_at'].strftime('%d.%m.%Y %H:%M') if url['created_at'] else '' }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('main.list_urls') }}" class="btn btn-secondary mt-3">Back to the list</a>

        <form method="post" action="{{ url_for('main.add_url_check', id=url['id']) }}">
        <button type="submit" class="btn btn-primary">Start check</button>
        </form>

        <table class="table table-striped" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check['id'] }}</td>
                <td>{{ check['created_at'].strftime('%d.%m.%Y %H:%M') if check['created_at'] else '' }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="2" class="text-center">No checks yet</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}