{% extends "base.html" %}

{% block title %}Website{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Website: {{ url['name'] }}</h1>
        <table class="table table-bordered" data-test="url">
            <tbody>
                <tr>
                    <th scope="row" style="width: 150px;">ID</th>
                    <td>{{ url['id'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ url['name'] }}</td>
                </tr>
                <tr>
                    <th scope="row">Creation date</th>
                    <td>{{ url['created_at'].strftime('%d.%m.%Y %H:%M') if url['created_at'] else '' }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('main.list_urls') }}" class="btn btn-secondary mt-3">Back to the list</a>
    </div>
</div>
{% endblock %}