{% extends "base.html" %}

{% block title %}List of websites{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Websites</h1>
        <table class="table table-striped table-hover" data-test="urls">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Last check</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url['id'] }}</td>
                    <td>
                        <a href="{{ url_for('main.show_url', id=url['id']) }}">
                            {{ url['name'] }}
                        </a>
                    </td>
                    <td>{{ url['created_at'].strftime('%d.%m.%Y %H:%M') if url['created_at'] else '' }}</td>
                    <td>{{ url['last_check'].strftime('%d.%m.%Y %H:%M') if url['last_check'] else '' }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4" class="text-center">No sites added</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}