{% extends "base.html" %}

{% block title %}List of websites{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-4">Websites</h1>
        <table class="table table-striped table-hover" data-test="urls">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Creation date</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                <tr>
                    <td>{{ url[0] }}</td>
                    <td>
                        <a href="{{ url_for('main.show_url', id=url[0]) }}">
                            {{ url[1] }}
                        </a>
                    </td>
                    <td>{{ url[2].strftime('%d.%m.%Y %H:%M') if url[2] else '' }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3" class="text-center">No sites added</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}